/*GENERAL*/

* {
    margin: 0;
    padding: 0;   
}
html {
    background-color: var(--light1);
    width: 100%;
    font-family: var(--font);
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
:focus {
    outline: none;
}
::selection {
    background-color: var(--light3);
    color: var(--dark1);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

p {
    margin-bottom: .5em;
}

a {
    color: inherit;
    text-decoration: underline;
    transition: var(--transition);
}

a:hover {
    color: var(--accent2);
}

a:active {
    color: var(--accent3);
}

ul, ol {
    list-style-position: inside;
    margin-bottom: .5em;
}

ul ul, ol ol {
    margin-bottom: 0;
}

li li {
    margin-left: 1em;
}

blockquote p {
    padding: 0;
    margin: 0;
}

blockquote ul, blockquote ol {
    margin-bottom: 0;
}

blockquote {
    padding: 1em 1em 1em 4em;
    margin-bottom: 1em;
    background-color: var(--light2);
    border-radius: .2em;
    color: var(--accent4);
    border-left: solid 4px var(--accent5);
    position: relative;
}

blockquote::before {
    content: "\f075";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    left: .9em;
    top: 27px;
    transform: translateY(-50%);
    font-size: var(--h3-size);
  }

/*BASE ELEMENTS*/

h1, h2, h3, h4, h5 {
    font-weight: bold;
    width: fit-content;
    margin-bottom: .5em;
}

h1 {
    font-size: var(--h1-size);
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    right: 110%;
    top: 50%;
    height: 4px;
    width: 40px;
    background-color: var(--accent2);
}

h1::after {
    content: "";
    position: absolute;
    left: 110%;
    top: 50%;
    height: 4px;
    width: 40px;
    background-color: var(--accent2);
}

main {
    width: 100%;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacer);
}

section:first-child, section:nth-child(4n+3) {
    background-color: var(--light1);
    color: var(--dark1);
}

section:nth-child(2n), section:nth-child(4n+2) {
    background-image: var(--gradient3);
    color: var(--light1);
}

.section-content, .footer-content, .single-section-content {
    width: 95vw;
    max-width: 800px;
    padding: var(--spacer);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-section-content {
    justify-content: flex-start;
    align-items: flex-start;
}

/*SCROLLBAR*/

body::-webkit-scrollbar {
    width: 0.5em;
}
body::-webkit-scrollbar-thumb {
    background-color: transparent;
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body {
    scrollbar-width: none;
}
body {
    overflow: -moz-scrollbars-none;
}

/*HEADER*/

header {
    width: 100%;
    height: 25vh;
    background-image: var(--gradient2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: var(--light1);
}

/*NAV*/

nav {
    width: 100%;
    background-image: var(--gradient2);
    color: var(--accent5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacer);
}

nav * {
    width: fit-content;
}

nav i {
    font-size: var(--tiny-size);
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-nav-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-right: 1.5em;
    border-right: solid 1px var(--light1);
}

.sites-nav-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-left: 1.5em;
}

.nav-link {
    color: var(--light1);
    text-decoration: none;
    padding: .35em;
    border-radius: .3em;
    font-weight: bold;
    transition: var(--transition);
}

.nav-link:hover {
    background-color: var(--accent2);
    color: var(--light1);
}

.nav-link:active {
    background-color: var(--accent3);
    color: var(--light1);
}

.nav-utils {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.utils-link {
    text-decoration: none;
}

.utils-link img {
    width: 25px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 3px #00000024;
}

.utils-link:hover img {
    filter: brightness(1.5);
}

@media (max-width:600px) {
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }
    .sites-nav-links {
        padding-left: 0;
    }
    .main-nav-links {
        padding-right: 0;
        border-right: none;
    }
}

@media (max-width:320px) {
    nav {
        font-size: var(--tiny-size);
    }
}

/*PAGE LINKS*/

.page-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.page-links a {
    font-size: var(--h4-size);
    text-decoration: none;
    padding: .1em .4em;
    background-color: var(--light2);
    border-radius: .3em;
    transition: var(--transition);
    margin-bottom: .3em;
}

.page-links a:hover {
    color: var(--light1);
    background-color: var(--accent4);
}

.page-links i {
    color: var(--accent6);
    transition: var(--transition);
}

.page-links a:hover i {
    color: var(--light1);
}

/* MAIN */

main {
    min-height: 55vh;
}

/*FOOTER*/

footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: var(--gradient1);
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    color: var(--light1);
    gap: 2em;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.footer-container strong {
    padding-bottom: .8em;
}

.footer-link {
    color: var(--light1);
}

.footer-link:hover {
    color: var(--light4);
}