@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');

:root {
    --transition: all 100ms;
    --spacer: 2em 0;

    --font: 'REM', sans-serif;
    --font-size: 14px;
    --h1-size: 28px;
    --h2-size: 24px;
    --h3-size: 21px;
    --h4-size: 18px;
    --tiny-size: 10px;

    /*colors*/
    --light1: #F9FAFA;
    --light2: #e7ebeb;
    --light3: #cfd3d3;
    --light4: #a1a4a4;
    --dark1: #0f1111;
    --accent1: #6c3911;
    --accent2: #9c5219;
    --accent3: #bc641c;
    --accent4: #5a310e;
    --accent5: #d87e1e;
    --accent6: #1eb0d8;

    --gradient1: linear-gradient(120deg, var(--dark1) 0%, var(--accent4) 100%);
    --gradient2: linear-gradient(90deg, var(--dark1) 0%, var(--accent4) 27%, var(--accent2) 100%);
    --gradient3: linear-gradient(120deg, var(--dark1) 0%, var(--accent4) 40%, var(--accent1) 100%);
}