<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
        <link rel="manifest" href="/fav/site.webmanifest">

        <link rel="stylesheet" href="/css/root.css">
        <link rel="stylesheet" href="/css/base.css">
        {{block "styles" .}}{{end}}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script src="https://kit.fontawesome.com/9ab7bfa7fc.js" crossorigin="anonymous"></script>
        <script data-goatcounter="https://pgersl.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        <script src="/js/nav.js" defer></script>
        {{block "scripts" .}}{{end}}
        {{block "title" .}}{{end}}
    </head>
    <body>
        <header>Petr Geršl's Wiki</header>
        <nav>
            <div class="nav-content">
                <div class="nav-links">
                    <div class="sites-nav-links">
                        {{range .Site.Menus.sites}}
                            <a href="{{.URL}}" class="nav-link">{{.Name}} <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        {{end}}
                    </div>
                </div>
                <div class="nav-utils">
                    <!-- {{if .IsTranslated}}
                        {{range .Translations}}
                            <a href="{{.Permalink}}" class="utils-link"><img src="/media/img/base/{{.Language.Lang}}.png"></a>
                        {{end}}
                    {{end}} -->
                </div> 
            </div>
        </nav>
        <main>
            {{block "main" .}}{{end}}
        </main>
        <footer>
            <div class="footer-content">
                <div class="footer-container">
                    <strong>Petr Geršl</strong>
                    <div class="footer-item"><a class="footer-link" href="mailto:pgersl05@gmail.com">pgersl05@gmail.com</a></div>
                    <div class="footer-item"><a class="footer-link" href="tel:+420731347915">+420 731 347 915</a></div>
                    <div class="footer-item">Brno, CZE</div>
                </div>
                <div class="footer-container">
                    <strong>
                        {{if strings.HasPrefix .RelPermalink "/cs/"}}
                            Prozkoumejte více:
                        {{else if strings.HasPrefix .RelPermalink "/fr/"}}
                            En savoir plus:
                        {{else}}
                            Explore more:
                        {{end}}
                    </strong>
                    {{range .Site.Menus.sites}}
                        <a href="{{.URL}}" class="footer-link">{{.Name}} <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    {{end}}
                </div>
                <div class="footer-container">
                    <strong>
                        {{if strings.HasPrefix .RelPermalink "/cs/"}}
                            Najděte mě:
                        {{else if strings.HasPrefix .RelPermalink "/fr/"}}
                            Trouvez-moi:
                        {{else}}
                            Find me:
                        {{end}}
                    </strong>
                    <div class="footer-item"><a class="footer-link" href="linkedin.com/in/petr-geršl-9324491a6" target="_blank">LinkedIn</a></div>
                    <div class="footer-item"><a class="footer-link" href="https://github.com/pgersl" target="_blank">GitHub</a></div>
                </div>
            </div>
        </footer>
    </body>
</html>