{{define "title"}}<title>{{.Title}}</title>{{end}}

{{define "main"}}
    <section>
        <div class="section-content page-links">
            {{partial "path-map.html" .}}
            <h1><i class="{{.Params.icon}}"></i> {{.Title}}</h1>
            {{.Content}}
            {{range .Pages}}
                {{if not .Params.unlisted}}
                    <a href="{{.RelPermalink}}" class="page-link" target="_self"><i class="{{.Params.icon}}"></i> {{.Title}}</a>
                {{end}}
            {{end}}
        </div>
    </section>
{{end}}